
.DS_Store
.AppleDouble
.LSOverride

）
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/workspace*.json


.obsidian/cache
.obsidian/workspace-mobile.json


.obsidian/plugins/*/data.json


.trash/


.obsidian/file-recovery.json


*conflicted copy*.json
*conflicted copy*.md


.obsidian/hotkeys.json

.obsidian/graph.json

.obsidian/bookmarks.json


.obsidian/.obsidian.vimrc
.obsidian/*
.obsidian/

*.zip


.vscode/
